/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgb(255, 255, 255);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #2a324b;
  background-color: black;
  display: flex;
  flex-direction: column;
}
body.index-body {
  background-image: url("../images/background-index.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body.popup-body {
  overflow: hidden;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to right, #38b6ff, #4c38ff);
}
#nav #nav__checkbox:checked ~ ul#nav__menu li {
  display: block;
}
#nav #nav__checkbox:checked ~ label#nav__toggle #nav__toggle__close {
  display: unset;
}
#nav #nav__checkbox:checked ~ label#nav__toggle #nav__toggle__menu {
  display: none;
}
#nav__toggle {
  display: none;
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
  top: 31px;
  color: #e1e5ee;
}
#nav__toggle__menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#nav__toggle__close {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}
#nav__checkbox {
  display: none;
}
#nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 1rem;
  margin: 0;
}
#nav__menu li {
  flex: 1;
  list-style: none;
}
#nav__menu li a {
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
#nav__menu li #nav__logo {
  justify-content: flex-start;
}
#nav__menu li #nav__logo img {
  height: 50px;
}
#nav__menu li #nav__nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
#nav__menu li #nav__nav a {
  color: rgb(201, 199, 199);
  gap: 0.3em;
  font-size: 1.2rem;
}
#nav__menu li #nav__nav a.active, #nav__menu li #nav__nav a.active:hover, #nav__menu li #nav__nav a:hover {
  filter: brightness(125%);
}
#nav__menu li #nav__account {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.7em;
  font-size: 15px;
}
#nav__menu li #nav__account a {
  gap: 0.6em;
  font-weight: 600;
  border: 0.133em solid transparent;
  border-radius: 0.4em;
  padding: 0.3em 0.6em;
}
#nav__menu li #nav__account .material-icons {
  font-size: 1.5em;
}
#nav__menu li #nav__account a:hover {
  filter: brightness(115%);
}
#nav__menu li #nav__account a:active {
  border: 0.133em solid rgb(112, 111, 111);
  filter: brightness(85%);
}
#nav__menu li #nav__account #login-button {
  background-color: rgb(0, 170, 0);
}
#nav__menu li #nav__account #team-button {
  background-color: rgb(0, 217, 255);
}
#nav__menu li #nav__account #admin-panel-button {
  background-color: rgb(207, 209, 53);
}
#nav__menu li #nav__account #register-button {
  background-color: rgb(0, 217, 255);
}
#nav__menu li #nav__account #account-button {
  background-color: rgb(0, 170, 0);
}
#nav__menu li #nav__account #logout-button {
  background-color: rgb(221, 16, 16);
}

#main {
  color: #e1e5ee;
  flex: 1;
}
#main__logo {
  display: block;
  margin: auto;
  padding: 2rem 0 0 0;
}
#main #countdown-timer {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 3rem 0rem 1rem 0rem;
  font-size: 2.5rem;
  font-family: "Segment", monospace;
  color: yellow;
}
#main #countdown-timer #time {
  margin: 0;
  color: yellow;
}
#main #countdown-timer #time label {
  font-size: 1rem;
  color: #f9fbff;
}

body:has(.rules) #footer {
  background-color: #243b55;
}

.rules {
  color: #e1e5ee;
  text-align: center;
  background-color: #243b55;
}
.rules #footer {
  background-color: #243b55;
}
.rules .rules-container {
  display: inline-block;
  padding: 1rem 2rem 0rem 2rem;
  text-align: left;
  max-width: 900px;
}
.rules .rules-container ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}
.rules .rules-container ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}
.rules .rules-container ul li.cross::before {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid rgb(219, 0, 0);
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}
.rules .rules-container ul li.cross::after {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid rgb(219, 0, 0);
  transform: rotate(-45deg);
  top: 2px;
  left: 5px;
}
.rules .rules-container ul li.arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 5px;
  width: 5px;
  border: 1px solid rgb(0, 253, 0);
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}

.solves-container {
  max-width: 800px;
}
.solves-container h3 {
  margin: 0;
  margin-bottom: 10px;
}
.solves-container .solve {
  border: 1px solid rgb(0, 255, 34);
  border-radius: 5px;
  padding: 6px;
  margin: 5px 0 5px 0;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}
.solves-container .solve .challenge-name {
  color: #aaaaaa;
  padding: 1px;
}
.solves-container .solve .points {
  padding: 1px;
  color: #f76f00;
}

.stick-right {
  text-align: right !important;
}

body:has(.leaderboard) #footer {
  background-color: #243b55;
}

.leaderboard {
  background-color: #243b55;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.leaderboard__buttons {
  margin: 3rem 0 1rem 0;
}
.leaderboard__buttons a {
  text-decoration: none;
  color: #e1e5ee;
  border: white solid 1px;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.leaderboard__buttons a:hover, .leaderboard__buttons a.selected {
  color: #161d34;
  background-color: #e1e5ee;
}
.leaderboard table {
  width: 50%;
  margin: 2rem;
  padding: 15px;
  background-color: #161d34;
}
.leaderboard th, .leaderboard td {
  padding: 7px;
}
.leaderboard th {
  font-size: 22px;
  text-align: left;
}
.leaderboard td {
  font-size: 20px;
  border-top: 1px solid rgb(54, 54, 54);
}
.leaderboard #choose_event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaderboard #choose_event label {
  font: inherit;
  font-size: 18px;
  margin: 2em 0 0.5em 0;
}
.leaderboard #choose_event select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 1em 4em 1em 1em;
  background: url(../images/arrow_down.png) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.leaderboard #choose_event select option {
  color: inherit;
  background-color: #000000;
}
.leaderboard #choose_event select:focus {
  outline: none;
}
.leaderboard #choose_event select::-ms-expand {
  display: none;
}
.leaderboard #choose_event select:hover {
  filter: brightness(80%);
}

.link {
  text-decoration: none;
  color: #3292ff;
}
.link:hover {
  filter: brightness(65%);
  text-decoration: underline;
  cursor: pointer;
}

body:has(.challenges) #footer {
  background-color: #243b55;
}

.challenges {
  background-color: #243b55;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.challenges .challenges__category {
  margin: 0.5rem 2.5rem 0 2.5rem;
  font-size: 25px;
}
.challenges .challenges__grid {
  margin: 0rem 2.5rem 1rem 2.5rem;
}
.challenges .challenge {
  margin: 0.7rem 0 0 0;
  display: inline-block;
  vertical-align: top;
  color: #2a324b;
  border: 3px solid rgb(204, 204, 204);
  background-color: rgb(204, 204, 204);
  border-radius: 0.5rem;
  padding: 0.8rem 1.3rem 1.5rem 1.3rem;
  width: 19rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
}
.challenges .challenge > * {
  transition: all 0.25s cubic-bezier(0.08, 0.82, 0.17, 1);
  max-height: 150px;
}
.challenges .challenge .flexbox-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  align-items: center;
  color: #f9fbff;
  font-size: 16px;
}
.challenges .challenge .flexbox-info .solves {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: blue;
  padding: 0.3rem 0.3rem 0.2rem 0.5rem;
  min-width: 2rem;
  border-radius: 0.4rem;
}
.challenges .challenge .flexbox-info .points {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(224, 0, 0);
  padding: 0.3rem 0.3rem 0.2rem 0.5rem;
  min-width: 2rem;
  border-radius: 0.4rem;
}
.challenges .challenge .flexbox-info .material-icons {
  margin-bottom: 3px;
  font-size: 18px;
  vertical-align: middle;
}
.challenges .challenge .challenge-name {
  display: block;
  font-size: 24px;
  color: #4c38ff;
  font-weight: bold;
  margin: 0.5rem 0 0.7rem 0;
}
.challenges .challenge .description {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.challenges .challenge .service {
  display: block;
  color: rgb(149, 66, 218);
  margin-top: 0.5rem;
}
.challenges .challenge .author {
  display: block;
  color: rgb(43, 1, 228);
  margin-top: 1.5rem;
}
.challenges .challenge .resource {
  display: inline-block;
  background-color: rgb(55, 138, 233);
  text-decoration: none;
  color: #141e30;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 0.6rem;
  margin-top: 0.7rem;
}
.challenges .challenge .resource:active {
  color: #141e30;
}
.challenges .challenge .resource .material-icons {
  margin-top: -3px;
  margin-left: 5px;
  font-size: 20px;
  vertical-align: middle;
}
.challenges .challenge .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
}
.challenges .challenge .flag__input-box {
  position: relative;
  margin-right: 0.2rem;
}
.challenges .challenge .flag__input-box label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.2rem;
  margin: -0.5rem 0.4rem;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: rgb(204, 204, 204);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.challenges .challenge .flag__input-box input {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  padding: 0.5rem 0.5rem;
  color: currentColor;
  background: transparent;
  border-radius: 0.7rem;
  font-weight: 600;
}
.challenges .challenge .flag__input-box input:not(:-moz-placeholder-shown) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
.challenges .challenge .flag__input-box input:not(:-ms-input-placeholder) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
.challenges .challenge .flag__input-box input:focus + label, .challenges .challenge .flag__input-box input:not(:placeholder-shown) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
.challenges .challenge .flag__submit {
  margin-left: 0.2rem;
  cursor: pointer;
  color: currentColor;
  padding: 0.5rem 1rem;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 4px;
  font-weight: 900;
  color: #f9fbff;
}
.challenges .challenge .flag__submit:hover {
  color: green;
}
.challenges .challenge .flag .material-icons {
  margin-bottom: 3px;
  font-size: 18px;
  vertical-align: middle;
}
.challenges .challenge .flag.wrong .flag__submit {
  background-color: red;
}
.challenges .challenge .flag.wrong .flag__submit:hover {
  color: black;
}
.challenges .challenge .flag.wrong .flag__input-box input {
  border-color: red;
}
.challenges .challenge .flag.right .flag__submit {
  background-color: green;
}
.challenges .challenge .flag.right .flag__submit:hover {
  color: black;
}
.challenges .challenge .flag.right .flag__input-box input {
  border-color: green;
}
.challenges .challenge .hint {
  display: inline-block;
  text-align: center;
  margin-top: 0.8rem;
  padding: 0.7rem 0.8rem;
  width: 5.5rem;
  border-radius: 0.7rem;
  vertical-align: middle;
  color: #161d34;
  cursor: pointer;
}
.challenges .challenge .hint__id-label {
  cursor: inherit;
}
.challenges .challenge .hint__id {
  display: none;
}
.challenges .challenge .hint__cost {
  padding-top: 0.3rem;
}
.challenges .challenge .hint .blurred-background {
  cursor: auto;
}
.challenges .challenge .hint__popup {
  padding: 2rem;
  background-color: rgb(0, 255, 149);
  cursor: auto;
  display: flex;
  align-items: center;
}
.challenges .challenge .hint__popup .hint__unlock-button {
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 4px;
  border-radius: 5px;
}
.challenges .challenge .hint__popup .hint__unlock-button.no-margin {
  margin: 0;
}
.challenges .challenge .hint__popup .hint__unlock-button:hover {
  filter: brightness(85%);
  border-radius: 5px;
}
.challenges .challenge .hint.locked {
  background-color: red;
}
.challenges .challenge .hint.locked .hint__description {
  display: none;
}
.challenges .challenge .hint.unlocked {
  background-color: green;
}
.challenges .challenge .hint.unlocked .hint__unlock-button, .challenges .challenge .hint.unlocked .hint__cost {
  display: none;
}
.challenges .challenge .close-button {
  display: block;
  text-align: center;
  cursor: pointer;
  color: rgb(53, 53, 53);
  margin: 0.2rem auto -1rem auto;
  font-size: 40px;
}
.challenges .challenge .close-button:hover {
  color: red;
}
.challenges .challenge.open {
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
  cursor: unset;
}
.challenges .challenge.closed {
  font-size: 0;
}
.challenges .challenge.closed .description, .challenges .challenge.closed .service, .challenges .challenge.closed .resource, .challenges .challenge.closed .flag, .challenges .challenge.closed .hint, .challenges .challenge.closed .close-button, .challenges .challenge.closed .author {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
}
.challenges .challenge.solved {
  border-color: green;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}

.register-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}
.team .members {
  margin: 15px 0;
}
.team .members h3 {
  margin: 0;
  padding-bottom: 7px;
}
.team .members h4 {
  display: inline-block;
  margin: 0;
  color: rgb(0, 119, 255);
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}

.activation-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}

.generic-form {
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
}
.generic-form .title {
  margin: 0 0 30px 0;
  padding: 0;
  color: #fff;
  text-align: center;
}
.generic-form .error {
  color: rgb(207, 0, 0);
  margin-bottom: 30px;
}
.generic-form__box {
  margin: 30px 0 0 0;
  padding: 15px;
  outline: 5px solid rgb(84, 88, 84);
}
.generic-form input, .generic-form textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.generic-form input:-webkit-autofill, .generic-form textarea:-webkit-autofill {
  -webkit-transition: all 0s 50000s;
  transition: all 0s 50000s;
}
.generic-form input:autofill, .generic-form input:hover, .generic-form input:focus, .generic-form input:active, .generic-form textarea:autofill, .generic-form textarea:hover, .generic-form textarea:focus, .generic-form textarea:active {
  transition: all 0s 50000s;
}
.generic-form__input-box {
  position: relative;
}
.generic-form__input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s;
}
.generic-form__input-box input:not(:-moz-placeholder-shown) ~ label, .generic-form__input-box textarea:not(:-moz-placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__input-box input:not(:-ms-input-placeholder) ~ label, .generic-form__input-box textarea:not(:-ms-input-placeholder) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__input-box input:focus ~ label,
.generic-form__input-box input:not(:placeholder-shown) ~ label,
.generic-form__input-box textarea:focus ~ label,
.generic-form__input-box textarea:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  padding: 10px 20px;
  color: #03e9f4;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 4px;
  border-radius: 5px;
  text-align: center;
}
.generic-form__button .material-icons {
  margin-bottom: 3px;
  font-size: 18px;
  vertical-align: middle;
}
.generic-form__button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}
.generic-form select {
  width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  font: inherit;
  padding: 1em 4em 1em 1em;
  background: url(../images/arrow_down.png) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.generic-form select option {
  color: inherit;
  background-color: #000000;
}
.generic-form select:focus {
  outline: none;
}
.generic-form select::-ms-expand {
  display: none;
}
.generic-form select:hover {
  filter: brightness(80%);
}
.generic-form .info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.generic-form .info-box h3 {
  margin: 0;
}
.generic-form .info-box h4 {
  margin: 0;
  color: #767b91;
}

#footer {
  text-shadow: 0 0 2px rgb(0, 0, 0);
  margin-top: auto;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  color: #e1e5ee;
  background-color: rgb(0, 0, 0);
}
#footer #countdown-timer {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 1rem 0rem 1.7rem 0rem;
  font-size: 1.5rem;
  font-family: "Segment", monospace;
  color: yellow;
}
#footer #countdown-timer #time {
  margin: 0;
  color: yellow;
}
#footer #countdown-timer #time label {
  font-size: 1rem;
  color: #f9fbff;
}

@media only screen and (max-width: 1230px) {
  #nav.normal-user #nav__toggle {
    display: unset;
  }
  #nav.normal-user #nav__menu {
    flex-direction: column;
  }
  #nav.normal-user #nav__menu li {
    display: none;
  }
  #nav.normal-user #nav__menu li:first-child {
    display: block;
  }
  #nav.normal-user #nav__menu li #nav__nav {
    flex-direction: column;
    gap: 0.3rem;
  }
  #nav.normal-user #nav__menu li #nav__account {
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 1400px) {
  #nav.admin #nav__toggle {
    display: unset;
  }
  #nav.admin #nav__menu {
    flex-direction: column;
  }
  #nav.admin #nav__menu li {
    display: none;
  }
  #nav.admin #nav__menu li:first-child {
    display: block;
  }
  #nav.admin #nav__menu li #nav__nav {
    flex-direction: column;
    gap: 0.3rem;
  }
  #nav.admin #nav__menu li #nav__account {
    gap: 0.5rem;
  }
}
.no-bg-color {
  background: inherit !important;
}

.no-margin {
  margin: 0;
}

.hidden {
  opacity: 0 !important;
  max-height: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  border: 0 !important;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}/*# sourceMappingURL=style.css.map */