$footer-height: 200px;
$login-button-image-size: 18px;
$login-button-padding: 8px;

.hidden {
    overflow-y: hidden;
    max-height: 0 !important;
    opacity: 0;
}

.disable-animation *{
    transition: none !important;
}

body {
    // font-family: 'Source Sans Pro', serif;
    margin: 0px;
}

#navbar {
    background-color: rgb(192, 150, 34);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    #navbar-logo {
        text-align: left;
        padding-left: 20px;
        box-sizing: border-box;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    #navbar-menu {
        width: 50%;
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box;

        #navbar-menu-button {
            border: 0px;
            height: 35px;
            width: 35px;
            background-color: transparent;
            background-image: url(../img/menu.svg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        #navbar-menu-button:hover {
            cursor: pointer;
        }

        #navbar-menu-button:active {
            
        }
    }

    #navbar-nav {
        $color: rgb(0, 95, 150);
        $size: 17px;
        
        transition: max-height .5s, opacity .5s;
        max-height: 85px;

        > *:not(:last-child) {
            margin-right: 8px;
        }

        a{
            font-size: $size;
            text-decoration: none;
            color: $color;
            width: 0px;
            white-space:nowrap;
        }

        a:hover {
            filter: brightness(125%);
        }

        .navbar-nav-icon {
            display: inline-block;
            background: $color;
            mask-size: cover;
            vertical-align: sub;
            width: $size+2;
            height: $size+2;
        }

        .navbar-nav-icon:hover {
            filter: brightness(115%);
        }

        .navbar-nav-icon:active {
            filter: brightness(85%);
        }

        #navbar-nav-home {
            mask: url(../img/home.svg) no-repeat;
        }

        #navbar-nav-scoreboard {
            mask: url(../img/scoreboard.svg) no-repeat;
        }

        #navbar-nav-flag {
            mask: url(../img/flag.svg) no-repeat;
        }
    }

    #navbar-login-menu {
        transition: max-height .5s, opacity .5s;
        display: flex;
        align-items: center;
        justify-content: right;

        max-height: 70px;

        > *:not(:last-child) {
            margin-right: 4px;
        }

        > *:last-child {
            margin-right: 20px;
        }

        button{
            font-size: 15px;
            font-weight: 500;
            background-clip: padding-box;
            border: 0.133em solid transparent;
            border-radius: 7px;
            padding: 0.34em 0.46em 0.4em 0.93em + 1.2em;
            background-position: 0.46em 50%;
            background-repeat: no-repeat;
            background-size: 1.2em;
        }

        button:hover{
            cursor: pointer;
            filter: brightness(115%);
        }

        button:active {
            border: 0.133em solid rgb(112, 111, 111);
            filter: brightness(85%);
        }

        button:focus {
        }

        #login-button {
            background-image: url(../img/login.svg);
            background-color: rgb(0, 170, 0);
        }

        #register-button {
            background-image: url(../img/register.svg);
            background-color: rgb(0, 103, 221);
        }

        #account-button {
            background-image: url(../img/account.svg);
            background-color: rgb(0, 170, 0);
        }

        #logout-button {
            background-image: url(../img/logout.svg);
            background-color: rgb(221, 16, 16);
        }
    }
}


#main {
    background-color: rgb(11, 105, 194);
}

#footer {
    background-color: rgb(93, 194, 11);
    height: $footer-height;
}

@media (max-width: 767px) {
    #navbar {
        a {
            display: block;
        }

        #navbar-menu {
            display: unset;
        }
    }
}
  
@media (min-width: 768px) {
    #navbar{
        a{
            display: inline;
        }

        #navbar-menu {
            display: none;
        }
    }
}