/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgb(255, 255, 255);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.no-bg-color {
  background: inherit !important;
}

.hidden {
  opacity: 0 !important;
  max-height: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  border: 0 !important;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #2a324b;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
body.index-body {
  background-image: url("../img/background-index.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body.popup-body {
  overflow: hidden;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to right, #38b6ff, #4c38ff);
}
#nav #nav__checkbox:checked ~ ul#nav__menu li {
  display: block;
}
#nav #nav__checkbox:checked ~ label#nav__toggle #nav__toggle__close {
  display: unset;
}
#nav #nav__checkbox:checked ~ label#nav__toggle #nav__toggle__menu {
  display: none;
}
#nav__toggle {
  display: none;
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
  top: 2rem;
  color: #e1e5ee;
}
#nav__toggle__menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#nav__toggle__close {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}
#nav__checkbox {
  display: none;
}
#nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 1rem;
  margin: 0;
}
#nav__menu li {
  flex: 1;
  list-style: none;
}
#nav__menu li a {
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
#nav__menu li #nav__logo {
  justify-content: flex-start;
}
#nav__menu li #nav__logo img {
  width: 3rem;
}
#nav__menu li #nav__nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
#nav__menu li #nav__nav a {
  color: rgb(201, 199, 199);
  gap: 0.3em;
  font-size: 1.2rem;
}
#nav__menu li #nav__nav a.active, #nav__menu li #nav__nav a.active:hover, #nav__menu li #nav__nav a:hover {
  filter: brightness(125%);
}
#nav__menu li #nav__account {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.7em;
  font-size: 15px;
}
#nav__menu li #nav__account a {
  gap: 0.6em;
  font-weight: 600;
  border: 0.133em solid transparent;
  border-radius: 0.4em;
  padding: 0.3em 0.6em;
}
#nav__menu li #nav__account .material-icons {
  font-size: 1.5em;
}
#nav__menu li #nav__account a:hover {
  filter: brightness(115%);
}
#nav__menu li #nav__account a:active {
  border: 0.133em solid rgb(112, 111, 111);
  filter: brightness(85%);
}
#nav__menu li #nav__account #login-button {
  background-color: rgb(0, 170, 0);
}
#nav__menu li #nav__account #team-button {
  background-color: rgb(0, 217, 255);
}
#nav__menu li #nav__account #admin-panel-button {
  background-color: rgb(207, 209, 53);
}
#nav__menu li #nav__account #register-button {
  background-color: rgb(0, 217, 255);
}
#nav__menu li #nav__account #account-button {
  background-color: rgb(0, 170, 0);
}
#nav__menu li #nav__account #logout-button {
  background-color: rgb(221, 16, 16);
}

#main {
  color: #e1e5ee;
  background-color: black;
  flex: 1;
}
#main.challenges_main {
  background: linear-gradient(#141e30, #243b55);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
#main.challenges_main .challenges__category {
  margin: 0.5rem 2.5rem 0 2.5rem;
  font-size: 22px;
}
#main.challenges_main .challenges__grid {
  margin: 0rem 2.5rem 1rem 2.5rem;
}
#main.challenges_main .challenge {
  margin: 0.7rem 0 0 0;
  display: inline-block;
  vertical-align: top;
  color: #2a324b;
  border: 5px solid rgb(167, 0, 158);
  background-color: rgb(173, 173, 173);
  border-radius: 1rem;
  padding: 0.8rem 0.5rem 1.5rem 0.8rem;
  width: 17rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
}
#main.challenges_main .challenge > * {
  transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  max-height: 70px;
}
#main.challenges_main .challenge .flexbox-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: #f9fbff;
  font-size: 16px;
}
#main.challenges_main .challenge .flexbox-info .solves {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: blue;
  padding: 0.3rem 0.3rem 0.2rem 0.5rem;
  margin-left: 0.5rem;
  min-width: 2rem;
  border-radius: 0.4rem;
}
#main.challenges_main .challenge .flexbox-info .points {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(224, 0, 0);
  padding: 0.3rem 0.3rem 0.2rem 0.5rem;
  margin-right: 0.5rem;
  min-width: 2rem;
  border-radius: 0.4rem;
}
#main.challenges_main .challenge .flexbox-info .material-icons {
  margin-bottom: 3px;
  font-size: 18px;
  vertical-align: middle;
}
#main.challenges_main .challenge .challenge-name {
  display: block;
  font-size: 24px;
  color: #4c38ff;
  font-weight: bold;
  margin-top: 0.5rem;
}
#main.challenges_main .challenge .description {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
#main.challenges_main .challenge .service {
  display: block;
  color: rgb(149, 66, 218);
  margin-top: 0.5rem;
}
#main.challenges_main .challenge .resource {
  display: inline-block;
  background-color: rgb(55, 138, 233);
  text-decoration: none;
  color: #141e30;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 0.6rem;
  margin-top: 0.7rem;
}
#main.challenges_main .challenge .resource:active {
  color: #141e30;
}
#main.challenges_main .challenge .resource .material-icons {
  margin-top: -3px;
  margin-left: 5px;
  font-size: 20px;
  vertical-align: middle;
}
#main.challenges_main .challenge .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
}
#main.challenges_main .challenge .flag__input-box {
  position: relative;
  margin-right: 0.2rem;
}
#main.challenges_main .challenge .flag__input-box label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.2rem;
  margin: -0.5rem 0.4rem;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: rgb(173, 173, 173);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
#main.challenges_main .challenge .flag__input-box input {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  padding: 0.5rem 0.5rem;
  color: currentColor;
  background: transparent;
  border-radius: 0.7rem;
  font-weight: 600;
}
#main.challenges_main .challenge .flag__input-box input:not(:-moz-placeholder-shown) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
#main.challenges_main .challenge .flag__input-box input:not(:-ms-input-placeholder) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
#main.challenges_main .challenge .flag__input-box input:focus + label, #main.challenges_main .challenge .flag__input-box input:not(:placeholder-shown) + label {
  transform: translate(0.25rem, -55%) scale(0.8);
}
#main.challenges_main .challenge .flag__submit {
  margin-left: 0.2rem;
  cursor: pointer;
  color: currentColor;
  padding: 0.5rem 1rem;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 4px;
  font-weight: 900;
  color: #f9fbff;
}
#main.challenges_main .challenge .flag__submit:hover {
  color: green;
}
#main.challenges_main .challenge .flag .material-icons {
  margin-bottom: 3px;
  font-size: 18px;
  vertical-align: middle;
}
#main.challenges_main .challenge .hint {
  display: inline-block;
  text-align: center;
  margin-top: 0.8rem;
  padding: 0.7rem 0.8rem;
  width: 5.5rem;
  border-radius: 0.7rem;
  vertical-align: middle;
  cursor: pointer;
}
#main.challenges_main .challenge .hint__id-label {
  cursor: inherit;
}
#main.challenges_main .challenge .hint__id {
  display: none;
}
#main.challenges_main .challenge .hint__cost {
  padding-top: 0.3rem;
}
#main.challenges_main .challenge .hint .blurred-background {
  cursor: auto;
}
#main.challenges_main .challenge .hint__popup {
  padding: 2rem;
  background-color: rgb(0, 255, 149);
  cursor: auto;
  display: flex;
  align-items: center;
}
#main.challenges_main .challenge .hint__popup .hint__unlock-button {
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 4px;
  border-radius: 5px;
}
#main.challenges_main .challenge .hint__popup .hint__unlock-button.no-margin {
  margin: 0;
}
#main.challenges_main .challenge .hint__popup .hint__unlock-button:hover {
  filter: brightness(85%);
  border-radius: 5px;
}
#main.challenges_main .challenge .hint.locked {
  background-color: red;
}
#main.challenges_main .challenge .hint.locked .hint__description {
  display: none;
}
#main.challenges_main .challenge .hint.unlocked {
  background-color: green;
}
#main.challenges_main .challenge .hint.unlocked .hint__unlock-button, #main.challenges_main .challenge .hint.unlocked .hint__cost {
  display: none;
}
#main.challenges_main .challenge .close-button {
  display: block;
  text-align: center;
  cursor: pointer;
  color: rgb(53, 53, 53);
  margin: 0.2rem auto -1rem auto;
  font-size: 40px;
}
#main.challenges_main .challenge .close-button:hover {
  color: red;
}
#main.challenges_main .challenge.open {
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
  cursor: unset;
}
#main.challenges_main .challenge.closed {
  font-size: 0;
}
#main.challenges_main .challenge.closed .description, #main.challenges_main .challenge.closed .service, #main.challenges_main .challenge.closed .resource, #main.challenges_main .challenge.closed .flag, #main.challenges_main .challenge.closed .hint, #main.challenges_main .challenge.closed .close-button {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
}
#main.challenges_main .challenge.solved {
  border-color: green;
}
#main.rules-main {
  color: #e1e5ee;
  text-align: center;
}
#main.rules-main .rules-container {
  display: inline-block;
  padding: 1rem 2rem 0rem 2rem;
  text-align: left;
  max-width: 900px;
}
#main.rules-main .rules-container ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}
#main.rules-main .rules-container ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}
#main.rules-main .rules-container ul li.cross::before {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid rgb(219, 0, 0);
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}
#main.rules-main .rules-container ul li.cross::after {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid rgb(219, 0, 0);
  transform: rotate(-45deg);
  top: 2px;
  left: 5px;
}
#main.rules-main .rules-container ul li.arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 5px;
  width: 5px;
  border: 1px solid rgb(0, 253, 0);
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}
#main__logo {
  display: block;
  margin: auto;
  padding: 2rem 0 0 0;
}
#main #countdown-timer {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 3rem 0rem 1rem 0rem;
  font-size: 2.5rem;
  font-family: "Segment", monospace;
  color: yellow;
}
#main #countdown-timer #time {
  margin: 0;
  color: yellow;
}
#main #countdown-timer #time label {
  font-size: 1rem;
  color: #f9fbff;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
}

.register-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
}

.generic-form {
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
}
.generic-form .title {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.generic-form .error {
  color: rgb(207, 0, 0);
}
.generic-form__box {
  position: relative;
}
.generic-form__box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.generic-form__box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s;
}
.generic-form__box input:not(:-moz-placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__box input:not(:-ms-input-placeholder) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__box input:focus ~ label,
.generic-form__box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.generic-form__submit {
  margin-top: 25px;
  padding: 10px 20px;
  color: #03e9f4;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 4px;
  border-radius: 5px;
}
.generic-form__submit.no-margin {
  margin: 0;
}
.generic-form__submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}

#footer {
  margin-top: auto;
  padding: 1rem 0rem 0rem 0rem;
  text-align: center;
  color: #e1e5ee;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1000px) {
  #nav__toggle {
    display: unset;
  }
  #nav__menu {
    flex-direction: column;
  }
  #nav__menu li {
    display: none;
  }
  #nav__menu li:first-child {
    display: block;
  }
  #nav__menu li #nav__nav {
    flex-direction: column;
    gap: 0.3rem;
  }
  #nav__menu li #nav__account {
    gap: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */